ion-title {
  font-family: "Nunito Sans";
  font-size: 18px;
}
ion-toolbar {
  --padding-top: 10px;
}
ion-content {
  --background: #fbfbfb;
}
.cart-price {
  width: auto;
  border: 1px solid #84ca08;
  padding: 2px 8px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  color: #333652;
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 100;
  background-color: transparent;
}
.cart-price:after {
  content: "";
  position: absolute;
  top: 95%;
  right: 16px;
  border-top: 0px solid #333652;
  border-top-color: inherit;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
}

@media screen and (max-width: 520px){
  // .segment ion-segment-button{
  //   font-size: 12px;
  // }
  .segment{
    justify-content: space-between;
    padding: 0px 10px;
  }
  ion-segment-button {
    --padding-start: 0px;
    --padding-end: 0px;
    --max-width: 50px ;
    font-size: 12px;
    display: block;
    min-width: 60px;
    flex: none
  }

}
@media (min-width: 900px) {
  .accounts-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
  }
}


